/* Четвертий паршал */

.header-block {
  @include section;
  max-width: 480px;
  height: 400px;
  color: var(--white);
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;

  @media screen and (min-width: 768px) {
    @include section;
    min-width: 768px;
    height: 400px;
    padding-top: 118px;
    padding-bottom: 118px;
  }

  @media screen and (min-width: 1200px) {
    @include section;
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.box {
  background-color: var(--black-bg);
}

.block {
  font-family: "Roboto";
  font-style: normal;
  text-align: center;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  @media screen and (min-width: 768px) {
    width: 360px;
    font-size: 26px;
    line-height: 1.61;
  }

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
    margin: 0px auto;
  }
}

.header {
  border-bottom: 1px solid var(--grey);

  @media screen and (min-width: 768px) {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    display: inline-block;
    display: flex;
    align-items: center;
    font-weight: 500;
  }
}
