// Чотирнадцятий паршал




.form {
    display: inline-block;
}

.e-mail-input {
    display: flex;
    margin-left: auto;
}



.form-modal {
    outline: transparent;
    resize: none;
    padding: 40px;
    margin-left: auto;
    margin-right: auto;
    transition: var(--anim-fast);
    border-color: var(--grey-blue);
}

.label-modal {
    position: relative;
    outline: transparent;
    resize: none;
    border: none;
    display: flex;
    flex-direction: column;
    transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.input-form {
    outline: transparent;
    resize: none;
    border: 1px solid var(--grey-blue);
    border-radius: 4px;
    width: 448px;
    height: 40px;
    margin-top: 28px;
    padding-right: 5px;
    padding-left: 35px;
    transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;

&:hover,
&+.input-icon {
    fill: var(--blue);
    border-color: var(--blue);
    transition: var(--anim-fast);
}

&:focus~.user-email {
    color: var(--blue);
    outline: 1px var(--blue);
}

&:focus~.modal-icons {
    fill: var(--blue);
}
&:focus,
&:focus-visible {
    outline: transparent;
    border-color: var(--blue);
    transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

&:hover~.modal-icons,
&:focus~.modal-icons {
    fill: var(--blue);
    transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    transform: var(--anim-fast);
}
}

.form-checkbox-agreement {
    font-size: 11px;
    user-select: none;
}

.form-checkbox {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 20px;
    transition: outline-color 250ms, background-color 250ms;
}


.form-checkbox-custom-checkbox {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 15px;
    outline: 2px solid var(--black-text);
    outline-offset: -2px;
    border-radius: 2px;
    transition: outline-color 250ms, background-color 250ms;
}

.form-checkbox-input:checked+.form-checkbox-custom-checkbox {
    background-color: var(--blue);
    outline-color: var(--blue);
    background-image: url(../imeges/icons/form/icon\ check.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.form-checkbox-icon {
    fill: var(--white);
}


.textarea-box {
    width: 448px;
    height: 120px;
    margin-top: 28px;
    resize: none;
    padding: 15px;
    border: 1px solid var(--grey-blue);
    transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;

&:hover,
&:focus,
&:focus-visible {
    outline: transparent;
    border-color: var(--blue);
    transform: var(--anim-fast);
    transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

}

.coment:focus~.textarea-box {
    color: var(--blue);
}


.label {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 370px;
    ;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);

}

.span-text-up {
    border-bottom: 1px solid currentColor;
    color: var(--blue);
    display: block;
    margin-left: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.span-text {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--black-text);

}

.span-btn {
    width: 200px;
    height: 50px;

    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.06em;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: var(--white);
    background-color: var(--blue);
    outline: transparent;
    border-color: var(--blue);
&:focus {
    background-color: var(--bluedark);
    transition: border-color var(--anim-fast);
}
}


.text-up {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;

    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--grey-text);
    margin-left: 10px;
}


.user-cont {
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--grey-text);
}