// Дес"ятий паршал




.header-link {
    display: inline-block;
    align-items: center;
    color: var(--black-text);
    transition-property: color,
        cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: var(--anim-fast);
    transition-timing-function: ease-in-out;

&:hover,
&:focus {
    color: var(--blue)
}

&:last-child {
    margin-right: 0px;
}

&:hover,
&:focus {
    color: var(--blue);
}

}



.current.header-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(32px);
    width: 100%;
    height: 4px;

    display: inline-block;
    background-color: var(--blue);
    border-radius: 2px;

&,
&:hover,
&:focus {
    color: var(--black-text);
    color: var(--blue);

}
}

.contakt-link {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: rgba(255, 255, 255, 0.6);
}

.contact-link {

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    /* info@devstudio.com */
    color: var(--grey-text);
    transition-property: color,
        cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: var(--anim-fast);
    transition-timing-function: ease-in-out;

&:hover,
&:focus {
    color: var(--blue);
}

&:hover,
&:focus {
    color: var(--blue);
}

}



