// Вісімнадцятий паршал

.logo {
  padding-top: 16px;
  padding-bottom: 16px;

  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--black-text);

  @media screen and (min-width: 768px) {
    padding-top: 26px;
    padding-bottom: 26px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.logo {
  display: none;
  font-family: "Raleway";
  @media screen and (min-width: 768px) {
    display: block;

    font-style: normal;
    font-weight: 700;
    margin-right: 88px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--black-text);
    margin-right: 93px;
  }
}

.list {
  @media screen and (min-width: 768px) {
    display: block;
    position: relative;
    align-items: center;
    margin-right: 50px;
    margin-top: 21px;
    margin-bottom: 10px;
    &:last-child {
      margin-right: 0px;
    }
    @media screen and (min-width: 1200px) {
      margin-top: 0px;
    }
  }

  @media screen and (min-width: 1200px) {
    position: relative;
    align-items: center;
    margin-right: 50px;

    &:last-child {
      margin-right: 0px;
    }
  }
}

.top {
  @media screen and (min-width: 768px) {
    display: inline-flex;
    justify-content: space-between;
  }

  @media screen and (min-width: 1200px) {
    display: inline-flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

.header-nav {
  display: none;

  @media screen and (min-width: 768px) {
    display: inline-block;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
  }
}

.list-a {
  display: none;
  @media screen and (min-width: 768px) {
    // display: block;
    margin-top: 15px;
    display: flex;
    align-items: baseline;
  }
}

.ul {
  margin-right: 50px;
}

.navilist {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
}
