//  Дев"ятий паршал



.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
    z-index: 100;
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

& .modal {
    transform: translate(-50%, -50%) scale(0.6);
}
}

