// Восьмий паршал


h1,
h2,
h3,
h4,
p {
    margin: 0px;

}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;

}

span {
    color: var(--blue);
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

address {
    font-style: normal;
    /* or */
    font-style: inherit;
}