/* Перший паршал */

:root {
    --black-text: #212121;
    --grey-text: #757575;
    --grey-bg: #F5F4FA;
    --white: #ffffff;
    --blue: #2196f3;
    --bluedark: #188CE8;
    --black-bg: #2F303A;
    --crem: #EEEEEE;
    --crem-grey: #E5E5E5;
    --grey: #ECECEC;
    --grey-blue: #AFB1B8;
    --items: 3;
    --indent: 30px;
    --anim-fast: 250ms;
    --cubik: cubik-bezier (0.4, 0, 0.2, 1);
}
